<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Бачата</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Бачата</h1>
            <p>
              Бачата - один из самых простых по хореографии латиноамериканский
              танец. Главная особенность стиля — чувственный романтизм,
              пластика, гармония и импровизация! Основы танца — трехступенчатые
              движения бедра. Колени должны быть слегка согнуты, чтобы
              исполнитель мог легко взмахнуть бедрами. Двигать бедрами важно,
              потому что это часть души бачаты. Большая часть движений
              приходится на нижнюю часть тела до бедер, а верхняя часть тела
              движется намного меньше. Танцевальные движения или разновидность
              шага во время исполнения зависят от музыки: ритмов разных
              инструментов, настройки, настроения и интерпретации. Танец
              исполняется под грустную музыку, т.к. она лучше всего передает
              романтические чувства партнеров, их любовные переживания. Мелодия
              трогает душу, помогает танцорам двигаться чувственно и нежно.
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div class="template__right-wrap">
              <div class="template__img-1 bachata"></div>
              <div class="template__img-2 bachata"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
