<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Дэнсхолл</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Дэнсхолл</h1>
            <p>
              Дэнсхолл - это динамичный танец, который показывает свободу и раскрепощённость любого, кто его исполняет. 
              Этнические движения африканских переселенцев стали основой для популярного танца. 
              Отличие от других танцевальных стилей: техничные движения бедрами и ягодицами. 
              Дэнсхолл считается отражением культуры Ямайки и ее 
              народным сокровищем. 
              Первоначально танец наделялся магическим значением, при помощи которого задабривали природные стихии.
              На первый взгляд движения могут показаться 
              неразборчивыми и хаотическими, но на самом деле
              – это взвешенные и четко налаженные связки.
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active big">
                  <img
                    src="../src/img/template_img/dancehol_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/dancehol_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/dancehol_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
