<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Джаз-фанк</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Джаз-фанк (JUZZ FUNK)</h1>
            <p>
              Джаз-фанк (JUZZ FUNK) - современный танцевальный стиль, включающий
              элементы джазовой хореографии, хип-хопа, стрип-пластики, эстрадной
              хореографии и вакинга. Это танец контрастов, где отрывистые,
              резкие движения неожиданно сменяются мягкими и плавными, поглощая
              внимание зрителей. Джаз-фанку присущи разнообразие изолированных
              движений, волн, импульсов и шагов. Чёткие ритмичные движения
              плавно переходят друг в друга. Каждый танцор привносит в этот
              стиль танца свою неповторимую индивидуальность души, характера и
              эмоций. Танец позволяет выражать эмоции, он преисполнен дерзости,
              манерности и особенной красоты. От танцора, который выбрал этот
              стиль, требуется немало умений и творческие способности. Нужно
              уметь импровизировать, движения должны быть четкими, отточенными..
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active big">
                  <img
                    src="../src/img/template_img/funk_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/funk_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
