<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Пилатес</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Пилатес</h1>
            <p>
              Пила́тес — система физических упражнений в медленном темпе, которые
              задействуют глубоко лежащие мышцы и требуют значительных усилий.
              Основа — динамические нагрузки без надрыва и перенапряжений.
              Польза от пилатеса: - способствует оздоровлению суставов,
              укреплению мышц - снимает напряжения и боли в теле, увеличивает
              гибкость тела - корректирует вес - улучшает осанку - нормализует
              сон - учит лучше чувствовать своё тело - помогают восстановить
              мышцы после травм, предупреждая зарастание повреждённых мышц
              соединительной тканью Вспомогательное оборудование: изотонические
              кольца или гимнастические мячи (фитболы), создающие дополнительное
              сопротивление при выполнении упражнений и способствующие тонусу
              мышц
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active big">
                  <img
                    src="../src/img/template_img/pilates_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/pilates_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/strong_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
