<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href=""> Стретчинг</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title"> Стретчинг</h1>
            <p>
              Стретчинг – это комплекс упражнений на растяжку мышц тела, развитие гибкости и эластичности связок и суставов. 
Польза от стретчинга: 
- оздоравливает все системы и органы
- улучшает работу кровеносной системы
- укрепляет организм в целом
- формированию красивой осанки
- уменьшение травматизма на бытовом уровне
Главным отличием стретчинга является: 
статичность поз и плавность движений, которые гарантируют безопасность и отсутствие травматизма.
Для занятий нет ограничений по возрасту или уровню 
физической подготовки. 
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active big">
                  <img
                    src="../src/img/template_img/stretching_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/stretching_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
