<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Силовая тренировка</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Силовая тренировка</h1>
            <p>
              Силовая тренировка - это комплексное занятие, направленное на
              развитие различных групп мышц. Объединяет принципиально разные
              виды нагрузок: - кардио нагрузки (беговые и прыжковые упражнения)
              - занятия с утяжелителями (воздействие на разные группы мышц) -
              упражнения с доп. оборудованием (бодибары, кольца, мячи, и т.п.)
              Польза от силовых тренеровок: - повышается иммунитет - замедляются
              процессы старения - улучшаются физиологические и биохимические
              процессы в организме - формирование мышечного корсета и красивой
              осанки - организм становится более стойким к негативным
              воздействиям
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide aaa"
              data-ride="carousel"
            >
              <div class="carousel-inner ">
                <div class="carousel-item active big">
                  <img
                    src="../src/img/template_img/strong_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/strong_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item big">
                  <img
                    src="../src/img/template_img/strong_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
