<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Тай бо (tae bo)</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Тай бо (tae bo)</h1>
            <p>
              Тренировка Тай бо (tae bo) – это разновидность аэробики, в основе
              которой лежат боевые элементы тайского бокса, тхэквондо, бокса,
              каратэ в совокупности с базовыми шагами аэробики, собранными в
              связки. Польза от Тай бо: - тренировка всего тела (рук, плечь,
              спины, живота, ягодиц и ног) - развитие гибкости, силы,
              координации - сердечно-сосудистая выносливость. Эта аэробная
              тренировка приведет ваше тело в форму в рекордно короткие сроки.
              Вы похудеете, укрепите свои мышцы, улучшите осанку и координацию,
              избавитесь от лишнего жира и целлюлита, сможете развить
              выносливость. Тренировка не требует специального оборудования,
              интересна и эффективна, при занятиях происходит эмоциональная
              разгрузка.
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div class="template__right-wrap">
              <div class="template__img-1 taibo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
