<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Настольный теннис</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Настольный теннис</h1>
            <p class="tenis__desc">
              Настольный теннис - олимпийский вид спорта, спортивная игра с
              мячом, в которой используют специальные ракетки и игровой стол,
              разграниченный сеткой пополам. Игра может проходить между двумя
              соперниками или двумя парами соперников. Задача игроков:
              удерживать мяч в игре при помощи ракеток — каждый игрок после
              одного отскока мяча на своей половине стола должен отправить мяч
              на половину стола соперника. Очко начисляется игроку или паре
              игроков, когда соперник не может вернуть мяч в соответствии с
              правилами. Каждая партия продолжается до 11 очков, матч состоит из
              нечётного количества партий, и играется на большинство побед в
              партиях. Польза от настольного тенниса: - энергичная игра, которая
              позволяет всегда быть в тонусе и держать себя в форме - улучшается
              дыхательная и сердечнососудистая система - развивается
              внимательность, координация и реакция - снимается усталость глаз и
              улучшается зрения - постепенное улучшается кровообращения что
              позволяет стабилизировать артериальное давление Регулярные игры в
              настольный теннис способствуют улучшению здоровья в целом, а также
              позволяют поддерживать себя в форме и получать множество
              положительных эмоций во время игры. На 2017 год настольный теннис
              входил в число самых популярных видов спорта на планете и имел
              более 850 миллионов поклонников. Международной федерации
              настольного тенниса состояло 226 стран.
            </p>
          </div>
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide slider__top"
              data-ride="carousel"
            >
              <div class="carousel-inner slide__2 slider_top">
                <div class="carousel-item active">
                  <img
                    src="../src/img/template_img/tenis_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../src/img/template_img/tenis_1.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div
              id="carouselExampleControls_1"
              class="carousel slide slider__bottom"
              data-ride="carousel"
            >
              <div class="carousel-inner slide__2">
                <div class="carousel-item active">
                  <img
                    src="../src/img/template_img/tenis_2.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../src/img/template_img/tenis_2.png"
                    class="d-block w-100"
                    alt=""
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls_1"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls_1"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="tenis__robot">
          <div class="row">
            <div class="col">
              <div id="carouselExampleControls_3" class="carousel slide tenis_robot-slider" data-ride="carousel">
                <div class="carousel-inner robot__tenis-inner">
                  <div class="carousel-item active">
                    <img src="../src/img/template_img/tenis_3.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../src/img/template_img/tenis_3.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../src/img/template_img/tenis_3.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls_3" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls_3" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="tenis__robot-right">
                <h1 class="robot-title">Робот</h1>
                <p>
                  Робот может применяться для игры или обучения детьми и взрослыми
                  любого возраста и способностей, любого уровня подготовки.
                  Тренируясь с роботом, можно развивать внимание, научиться
                  наблюдать за траекторией полёта мяча, определять вид вращения
                  мяча, разбираться в особенностях различных видов ударов. В нашем
                  клубе мы предлагаем: индивидуальные тренировки с профессиональным
                  тренером, почасовую аренду теннисных столов и самообучение или
                  полноценная игра с роботом!
                </p>
                <a class="train__template-btn" href="">Записаться на тренировку</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
