<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="train__template-wrap">
      <div class="container">
        <div class="link__wrap">
          <a href="">Главная</a>
          <span>></span>
          <a href="">Услуги</a>
          <span>></span>
          <a href="">Взрослые</a>
          <span>></span>
          <a href="">Зумба</a>
        </div>
        <div class="row">
          <div class="col-8">
            <h1 class="train__template-title">Зумба</h1>
            <p>
              Зумба - это фитнес-вечеринка, где зажигательные латиноамериканские
              ритмы сочетаются с простой хореографией, что позволяет обеспечить
              эффективную тренировку всего тела. Зумба - это интервальная
              тренировка, в которой чередуются танцевальные движения высокой и
              низкой интенсивности. Таким образом, в процессе не требуется
              отдых, и вы можете двигаться на высоком пульсе все 40–50 минут
              занятия. Польза от зумбы: - отлично прокачивается сердечно
              сосудистая система - повышается выносливость организма -
              укрепляются мышцы тела - многие танцевальные шаги и движения
              задействуют пресс - прыжки и выпады укрепляют бёдра и ягодицы -
              прокачивается гибкость и координация - тело становится более
              пластичным и послушным Занятие проходит под ритмы сальсы, румбы,
              меренге, фламенко и других направлений.
            </p>
            <a class="train__template-btn" href="">Записаться на тренировку</a>
          </div>
          <div class="col">
            <div class="template__right-wrap">
              <div class="template__img-1 zumba"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
